.titulo {
    margin-top: 15vh;
    margin-left: 10vw;
    font-size: 2rem;
    color: rgb(80, 77, 77);
}

.subtitulo {
    margin-top: 0.5rem;
    margin-left: 10vw;
    font-size: 0.9rem;
    color: rgb(80, 77, 77);
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    font-size: 1rem;
    color: rgb(80, 77, 77);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    height: auto;
    background-color: rgb(235, 233, 233);
    padding: 3rem 1rem;
}

.registrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    font-size: 1rem;
    color: rgb(80, 77, 77);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    background-color: rgb(235, 233, 233);
    padding: 3rem 1rem;
}

.registrar input,
.login input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #776666;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

#tutulo_login {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

button {
    margin-top: 1rem;
    background-color: rgb(80, 77, 77);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #504d4d;
    transform: translateY(-2px);
}

a {
    margin-top: 1rem;
    color: rgb(80, 77, 77);
}

.recuperar-contenedor {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    font-size: 1.2rem;
    width: 90%;
    max-width: 600px;
    background-color: rgb(235, 233, 233);
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
}

#descripcion {
    font-size: 0.8rem;
}

.formulario {
    flex-direction: column;
    margin: 2rem auto 0;
    width: 80%;
    max-width: 200px;
}


@media (min-width: 768px) {
    .titulo, .subtitulo {
        margin-left: 10vw;
    }

    #login, .registrar {
        width: 500px;
    }

    .formulario {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    #tutulo_login {
        font-size: 0.8rem;
    }
    .titulo {
        font-size: 1.4rem;
    }
    .subtitulo {
        font-size: 0.7rem;
    }
    input, select, textarea {
        font-size: 16px; /* Evita el zoom en móviles */
    }
    registrar,
    .recuperar-contenedor {
        width: 90%;
        max-width: 300px;
        padding: 1.5rem 1rem;
        font-size: 0.9rem;
    }

    .registrar input,
    .formulario input {
        width: 100%;
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (min-width: 1024px) {
    #login {
        margin-left: auto;
        margin-right: 10vw; /* lo empuja hacia la derecha */
    }
}
 
.formulario input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #776666;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
}
 
 body {
     font-family: Arial, sans-serif;
     background: #f0f0f0;
     margin: 0;
     padding: 0;
     background-image: url("../imagenes/fondo.jpg");
     background-size: cover; 
     background-repeat: no-repeat;
 }
 
 .container {
     width: 80%;
     margin: 20px auto;
     text-align: center;
 }
 
 .tabs {
     display: flex;
     justify-content: center;
     background: #ccc;
     padding: 10px;
     border-radius: 10px;
 }
 
 .tab-button {
     background: #3d3d3d;
     color: white;
     border: none;
     padding: 10px 20px;
     margin: 5px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
 }
 
 .tab-button:hover {
     background: #555;
 }
 
 .tab-button.active {
     background: #222;
     font-weight: bold;
 }
 
 .content {
     margin-top: 20px;
     background: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     min-height: 250px;
     text-align: left;
 }
 
 .tab-content {
     display: none;
 }
 
 .tab-content.active {
     display: block;
 }
 
 form input, form select, form button {
     display: block;
     width: 80%;
     margin: 10px auto;
     padding: 8px;
     border-radius: 5px;
     border: 1px solid #ccc;
 }
 
 button {
     background: #3d3d3d;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 5px;
     cursor: pointer;
 }
 
 button:hover {
     background: #555;
 }
 
 ul {
     list-style-type: none;
     padding: 0;
 }
 
 ul li {
     background: #e0e0e0;
     margin: 5px 0;
     padding: 8px;
     border-radius: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .edit-button {
     background: transparent;
     border: none;
     cursor: pointer;
     font-size: 18px;
     color: #007bff;
     margin-left: 10px;
 }
 
 .edit-button:hover {
     color: #0056b3;
 }
 .user-info {
     text-align: right;
     margin-bottom: 5px;
     font-size: 15px;
     background: #ddd;
     padding: 10px;
     border-radius: 10px;
 }
 
 .button-container {
     display: inline-flex; /* Mantiene los botones alineados horizontalmente */
     gap: 5px;  /* Espaciado entre los botones */
 }
 
 .btn-delete {
     background-color: transparent;
     color: white;
 }

