
body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

/* Flexbox for the login and registration form */
#login, .registrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    color: rgb(80, 77, 77);
    border-radius: 10%;
    background-color: rgb(235, 233, 233);
    padding: 20px;
}

.registrar input, .login input {
    width: 80%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #776666;
    border-radius: 10px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    .titulo {
        margin-top: 100px;
        margin-left: 250px;
        font-size: 3em;
    }

    .subtitulo {
        font-size: 1.2em;
        margin-left: 250px;
    }

    #login, .registrar {
        width: 500px;
        height: auto;
    }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .titulo {
        margin-top: 50px;
        font-size: 1.8em;
        text-align: center;
    }

    .subtitulo {
        font-size: 1em;
        text-align: center;
    }

    #login, .registrar {
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .titulo {
        font-size: 1.5em;
    }

    .subtitulo {
        font-size: 0.9em;
    }

    #login, .registrar {
        width: 90%;
        height: auto;
        margin-top: 10px;
    }
}

